flows.json
[
    {
        "id": "tab-smarthome",
        "type": "tab",
        "label": "SmartHome Monitor",
        "disabled": false,
        "info": ""
    },
    {
        "id": "tab-automation",
        "type": "tab",
        "label": "Automation & Alertes",
        "disabled": false,
        "info": ""
    },
    {
        "id": "tab-debug",
        "type": "tab",
        "label": "Debug & QoS",
        "disabled": false,
        "info": ""
    },

    {
        "id": "broker-emqx",
        "type": "mqtt-broker",
        "name": "EMQX Public Broker",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "nodered_smarthome_ensa",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "credentials": {}
    },

    {
        "id": "mqtt-in-dht",
        "type": "mqtt in",
        "z": "tab-smarthome",
        "name": "SUBSCRIBE home/wokwi/sensors/dht",
        "topic": "home/wokwi/sensors/dht",
        "qos": "0",
        "datatype": "json",
        "broker": "broker-emqx",
        "x": 140, "y": 80,
        "wires": [["fn-extract-temp", "fn-extract-hum", "fn-prep-ia", "debug-raw"]]
    },
    {
        "id": "debug-raw",
        "type": "debug",
        "z": "tab-smarthome",
        "name": "Debug JSON brut",
        "active": true,
        "tosidebar": true,
        "complete": "payload",
        "x": 400, "y": 20,
        "wires": []
    },
    {
        "id": "fn-extract-temp",
        "type": "function",
        "z": "tab-smarthome",
        "name": "fn: Extraire Température",
        "func": "msg.payload = msg.payload.temperature;\nreturn msg;",
        "outputs": 1,
        "x": 420, "y": 80,
        "wires": [["gauge-temp", "chart-temp"]]
    },
    {
        "id": "gauge-temp",
        "type": "ui_gauge",
        "z": "tab-smarthome",
        "name": "Gauge Température",
        "group": "group-sensors",
        "order": 1,
        "gtype": "gage",
        "title": "Température",
        "label": "°C",
        "format": "{{value}}",
        "min": "0", "max": "50",
        "colors": ["#00b4d8","#00e676","#ff5252"],
        "seg1": "25", "seg2": "35",
        "x": 680, "y": 60,
        "wires": []
    },
    {
        "id": "chart-temp",
        "type": "ui_chart",
        "z": "tab-smarthome",
        "name": "Historique Température",
        "group": "group-history",
        "order": 1,
        "width": "12", "height": "4",
        "label": "Température °C",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "10", "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "60",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "colors": ["#64b5f6"],
        "x": 680, "y": 100,
        "wires": []
    },
    {
        "id": "fn-extract-hum",
        "type": "function",
        "z": "tab-smarthome",
        "name": "fn: Extraire Humidité",
        "func": "msg.payload = msg.payload.humidity;\nreturn msg;",
        "outputs": 1,
        "x": 420, "y": 140,
        "wires": [["gauge-hum", "chart-hum"]]
    },
    {
        "id": "gauge-hum",
        "type": "ui_gauge",
        "z": "tab-smarthome",
        "name": "Gauge Humidité",
        "group": "group-sensors",
        "order": 2,
        "gtype": "gage",
        "title": "Humidité",
        "label": "%",
        "format": "{{value}}",
        "min": "0", "max": "100",
        "colors": ["#ff5252","#00e676","#00b4d8"],
        "seg1": "30", "seg2": "70",
        "x": 680, "y": 140,
        "wires": []
    },
    {
        "id": "chart-hum",
        "type": "ui_chart",
        "z": "tab-smarthome",
        "name": "Historique Humidité",
        "group": "group-history",
        "order": 2,
        "width": "12", "height": "4",
        "label": "Humidité %",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0", "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "60",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "colors": ["#80deea"],
        "x": 680, "y": 180,
        "wires": []
    },
    {
        "id": "fn-prep-ia",
        "type": "function",
        "z": "tab-smarthome",
        "name": "fn: Préparer appel IA Python",
        "func": "msg.url = 'http://ai_server:5000/predict';\nmsg.method = 'POST';\nmsg.headers = {'Content-Type': 'application/json'};\nmsg.payload = {\n    temperature: msg.payload.temperature,\n    humidity   : msg.payload.humidity\n};\nreturn msg;",
        "outputs": 1,
        "x": 420, "y": 240,
        "wires": [["http-ia"]]
    },
    {
        "id": "http-ia",
        "type": "http request",
        "z": "tab-smarthome",
        "name": "API IA Python — /predict",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "x": 650, "y": 240,
        "wires": [["fn-traiter-ia"]]
    },
    {
        "id": "fn-traiter-ia",
        "type": "function",
        "z": "tab-smarthome",
        "name": "fn: Formater résultat IA",
        "func": "var ai = msg.payload;\nvar out1 = {\n    topic: 'home/wokwi/ai/anomaly',\n    payload: JSON.stringify({ anomaly: ai.anomaly, score: ai.z_score, value: ai.temperature })\n};\nvar out2 = {\n    topic: 'home/wokwi/ai/prediction',\n    payload: JSON.stringify({ predicted_temp: ai.predicted_temp, in_minutes: ai.in_minutes })\n};\nreturn [out1, out2];",
        "outputs": 2,
        "x": 860, "y": 240,
        "wires": [["mqtt-out-anomaly"], ["mqtt-out-prediction"]]
    },
    {
        "id": "mqtt-out-anomaly",
        "type": "mqtt out",
        "z": "tab-smarthome",
        "name": "PUB home/wokwi/ai/anomaly",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "broker": "broker-emqx",
        "x": 1080, "y": 220,
        "wires": []
    },
    {
        "id": "mqtt-out-prediction",
        "type": "mqtt out",
        "z": "tab-smarthome",
        "name": "PUB home/wokwi/ai/prediction",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "broker": "broker-emqx",
        "x": 1080, "y": 280,
        "wires": []
    },

    {
        "id": "btn-relay1-on",
        "type": "ui_button",
        "z": "tab-smarthome",
        "name": "RELAIS 1 ON",
        "group": "group-relay",
        "order": 1,
        "label": "🔴 R1 ON",
        "bgcolor": "#1b5e20",
        "payload": "{\"relay\":\"relais1\",\"state\":\"ON\"}",
        "payloadType": "json",
        "x": 120, "y": 380,
        "wires": [["mqtt-out-relay1", "debug-r1"]]
    },
    {
        "id": "btn-relay1-off",
        "type": "ui_button",
        "z": "tab-smarthome",
        "name": "RELAIS 1 OFF",
        "group": "group-relay",
        "order": 2,
        "label": "🔴 R1 OFF",
        "bgcolor": "#b71c1c",
        "payload": "{\"relay\":\"relais1\",\"state\":\"OFF\"}",
        "payloadType": "json",
        "x": 120, "y": 420,
        "wires": [["mqtt-out-relay1", "debug-r1"]]
    },
    {
        "id": "debug-r1",
        "type": "debug",
        "z": "tab-smarthome",
        "name": "Debug Relais 1",
        "active": true,
        "tosidebar": true,
        "complete": "payload",
        "x": 380, "y": 360,
        "wires": []
    },
    {
        "id": "mqtt-out-relay1",
        "type": "mqtt out",
        "z": "tab-smarthome",
        "name": "PUB home/wokwi/relay1/command",
        "topic": "home/wokwi/relay1/command",
        "qos": "1",
        "retain": "false",
        "broker": "broker-emqx",
        "x": 400, "y": 420,
        "wires": []
    },
    {
        "id": "btn-relay2-on",
        "type": "ui_button",
        "z": "tab-smarthome",
        "name": "RELAIS 2 ON",
        "group": "group-relay",
        "order": 3,
        "label": "🟢 R2 ON",
        "bgcolor": "#1b5e20",
        "payload": "{\"relay\":\"relais2\",\"state\":\"ON\"}",
        "payloadType": "json",
        "x": 120, "y": 500,
        "wires": [["mqtt-out-relay2", "debug-r2"]]
    },
    {
        "id": "btn-relay2-off",
        "type": "ui_button",
        "z": "tab-smarthome",
        "name": "RELAIS 2 OFF",
        "group": "group-relay",
        "order": 4,
        "label": "🟢 R2 OFF",
        "bgcolor": "#b71c1c",
        "payload": "{\"relay\":\"relais2\",\"state\":\"OFF\"}",
        "payloadType": "json",
        "x": 120, "y": 540,
        "wires": [["mqtt-out-relay2", "debug-r2"]]
    },
    {
        "id": "debug-r2",
        "type": "debug",
        "z": "tab-smarthome",
        "name": "Debug Relais 2",
        "active": true,
        "tosidebar": true,
        "complete": "payload",
        "x": 380, "y": 480,
        "wires": []
    },
    {
        "id": "mqtt-out-relay2",
        "type": "mqtt out",
        "z": "tab-smarthome",
        "name": "PUB home/wokwi/relay2/command",
        "topic": "home/wokwi/relay2/command",
        "qos": "1",
        "retain": "false",
        "broker": "broker-emqx",
        "x": 400, "y": 540,
        "wires": []
    },

    {
        "id": "mqtt-in-status1",
        "type": "mqtt in",
        "z": "tab-smarthome",
        "name": "SUBSCRIBE relay1/status",
        "topic": "home/wokwi/relay1/status",
        "qos": "1",
        "datatype": "json",
        "broker": "broker-emqx",
        "x": 130, "y": 640,
        "wires": [["text-relay1"]]
    },
    {
        "id": "text-relay1",
        "type": "ui_text",
        "z": "tab-smarthome",
        "name": "État Relais 1",
        "group": "group-relay",
        "order": 5,
        "label": "État Relais 1",
        "format": "{{msg.payload.state}}",
        "layout": "row-spread",
        "x": 380, "y": 640,
        "wires": []
    },
    {
        "id": "mqtt-in-status2",
        "type": "mqtt in",
        "z": "tab-smarthome",
        "name": "SUBSCRIBE relay2/status",
        "topic": "home/wokwi/relay2/status",
        "qos": "1",
        "datatype": "json",
        "broker": "broker-emqx",
        "x": 130, "y": 700,
        "wires": [["text-relay2"]]
    },
    {
        "id": "text-relay2",
        "type": "ui_text",
        "z": "tab-smarthome",
        "name": "État Relais 2",
        "group": "group-relay",
        "order": 6,
        "label": "État Relais 2",
        "format": "{{msg.payload.state}}",
        "layout": "row-spread",
        "x": 380, "y": 700,
        "wires": []
    },

    {
        "id": "mqtt-in-dht-auto",
        "type": "mqtt in",
        "z": "tab-automation",
        "name": "SUBSCRIBE — Données DHT (automation)",
        "topic": "home/wokwi/sensors/dht",
        "qos": "0",
        "datatype": "json",
        "broker": "broker-emqx",
        "x": 140, "y": 80,
        "wires": [["fn-rule-temp", "fn-rule-hum"]]
    },

    {
        "id": "fn-rule-temp",
        "type": "function",
        "z": "tab-automation",
        "name": "⚙ Règle : Temp > 30°C → Relais 1 AUTO",
        "func": "var T = msg.payload.temperature;\nvar prevState = global.get('r1_auto_state') || 'OFF';\n\nif (T > 30 && prevState !== 'ON') {\n    global.set('r1_auto_state', 'ON');\n    node.warn('AUTO: Température ' + T + '°C > 30°C — Relais 1 ON');\n    return {\n        payload: { relay: 'relais1', state: 'ON', auto: true, reason: 'T=' + T + '°C > 30°C' },\n        topic: 'home/wokwi/relay1/command'\n    };\n} else if (T <= 28 && prevState !== 'OFF') {\n    global.set('r1_auto_state', 'OFF');\n    node.warn('AUTO: Température ' + T + '°C <= 28°C — Relais 1 OFF');\n    return {\n        payload: { relay: 'relais1', state: 'OFF', auto: true, reason: 'T=' + T + '°C <= 28°C' },\n        topic: 'home/wokwi/relay1/command'\n    };\n}\nreturn null;",
        "outputs": 1,
        "x": 450, "y": 60,
        "wires": [["mqtt-out-auto-relay1", "debug-auto-r1", "text-auto-log"]]
    },
    {
        "id": "mqtt-out-auto-relay1",
        "type": "mqtt out",
        "z": "tab-automation",
        "name": "PUB AUTO → relay1/command",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "broker": "broker-emqx",
        "x": 800, "y": 40,
        "wires": []
    },
    {
        "id": "debug-auto-r1",
        "type": "debug",
        "z": "tab-automation",
        "name": "Debug Auto Relais 1",
        "active": true,
        "tosidebar": true,
        "complete": "payload",
        "x": 800, "y": 80,
        "wires": []
    },

    {
        "id": "fn-rule-hum",
        "type": "function",
        "z": "tab-automation",
        "name": "⚙ Règle : Hum < 35% → Relais 2 AUTO",
        "func": "var H = msg.payload.humidity;\nvar prevState = global.get('r2_auto_state') || 'OFF';\n\nif (H < 35 && prevState !== 'ON') {\n    global.set('r2_auto_state', 'ON');\n    node.warn('AUTO: Humidité ' + H + '% < 35% — Relais 2 ON (humidificateur)');\n    return {\n        payload: { relay: 'relais2', state: 'ON', auto: true, reason: 'H=' + H + '% < 35%' },\n        topic: 'home/wokwi/relay2/command'\n    };\n} else if (H >= 40 && prevState !== 'OFF') {\n    global.set('r2_auto_state', 'OFF');\n    node.warn('AUTO: Humidité ' + H + '% >= 40% — Relais 2 OFF');\n    return {\n        payload: { relay: 'relais2', state: 'OFF', auto: true, reason: 'H=' + H + '% >= 40%' },\n        topic: 'home/wokwi/relay2/command'\n    };\n}\nreturn null;",
        "outputs": 1,
        "x": 450, "y": 160,
        "wires": [["mqtt-out-auto-relay2", "debug-auto-r2", "text-auto-log"]]
    },
    {
        "id": "mqtt-out-auto-relay2",
        "type": "mqtt out",
        "z": "tab-automation",
        "name": "PUB AUTO → relay2/command",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "broker": "broker-emqx",
        "x": 800, "y": 140,
        "wires": []
    },
    {
        "id": "debug-auto-r2",
        "type": "debug",
        "z": "tab-automation",
        "name": "Debug Auto Relais 2",
        "active": true,
        "tosidebar": true,
        "complete": "payload",
        "x": 800, "y": 180,
        "wires": []
    },
    {
        "id": "text-auto-log",
        "type": "ui_text",
        "z": "tab-automation",
        "name": "Log Automation",
        "group": "group-automation",
        "order": 1,
        "label": "Dernière action auto",
        "format": "{{msg.payload.reason}}",
        "layout": "row-spread",
        "x": 800, "y": 260,
        "wires": []
    },

    {
        "id": "inject-test-high-temp",
        "type": "inject",
        "z": "tab-automation",
        "name": "TEST: Inject T=35°C (anomalie)",
        "props": [{"p": "payload"}],
        "repeat": "",
        "once": false,
        "payload": "{\"temperature\":35,\"humidity\":50}",
        "payloadType": "json",
        "x": 140, "y": 280,
        "wires": [["fn-rule-temp", "fn-rule-hum"]]
    },
    {
        "id": "inject-test-normal",
        "type": "inject",
        "z": "tab-automation",
        "name": "TEST: Inject T=24°C (normal)",
        "props": [{"p": "payload"}],
        "repeat": "",
        "once": false,
        "payload": "{\"temperature\":24,\"humidity\":55}",
        "payloadType": "json",
        "x": 140, "y": 330,
        "wires": [["fn-rule-temp", "fn-rule-hum"]]
    },
    {
        "id": "inject-test-low-hum",
        "type": "inject",
        "z": "tab-automation",
        "name": "TEST: Inject H=25% (sécheresse)",
        "props": [{"p": "payload"}],
        "repeat": "",
        "once": false,
        "payload": "{\"temperature\":24,\"humidity\":25}",
        "payloadType": "json",
        "x": 140, "y": 380,
        "wires": [["fn-rule-temp", "fn-rule-hum"]]
    },

    {
        "id": "mqtt-in-wildcard",
        "type": "mqtt in",
        "z": "tab-debug",
        "name": "SUBSCRIBE home/wokwi/# (tous les topics)",
        "topic": "home/wokwi/#",
        "qos": "0",
        "datatype": "auto",
        "broker": "broker-emqx",
        "x": 160, "y": 80,
        "wires": [["debug-all-topics", "fn-format-log"]]
    },
    {
        "id": "debug-all-topics",
        "type": "debug",
        "z": "tab-debug",
        "name": "Tous les messages MQTT",
        "active": true,
        "tosidebar": true,
        "complete": true,
        "x": 460, "y": 60,
        "wires": []
    },
    {
        "id": "fn-format-log",
        "type": "function",
        "z": "tab-debug",
        "name": "fn: Formater pour log UI",
        "func": "msg.payload = '[' + msg.topic + '] → ' + JSON.stringify(msg.payload);\nreturn msg;",
        "outputs": 1,
        "x": 460, "y": 120,
        "wires": [["ui-log-all"]]
    },
    {
        "id": "ui-log-all",
        "type": "ui_text",
        "z": "tab-debug",
        "name": "Journal MQTT complet",
        "group": "group-debug",
        "order": 1,
        "label": "Dernier message reçu",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 680, "y": 120,
        "wires": []
    },

    {
        "id": "inject-qos0",
        "type": "inject",
        "z": "tab-debug",
        "name": "TEST PUBLISH QoS 0",
        "props": [{"p": "payload"}],
        "repeat": "",
        "once": false,
        "payload": "{\"test\":\"qos0\",\"qos\":0}",
        "payloadType": "json",
        "x": 140, "y": 260,
        "wires": [["mqtt-pub-qos0"]]
    },
    {
        "id": "mqtt-pub-qos0",
        "type": "mqtt out",
        "z": "tab-debug",
        "name": "PUB QoS 0 → home/wokwi/test/qos",
        "topic": "home/wokwi/test/qos",
        "qos": "0",
        "retain": "false",
        "broker": "broker-emqx",
        "x": 420, "y": 260,
        "wires": []
    },
    {
        "id": "inject-qos1",
        "type": "inject",
        "z": "tab-debug",
        "name": "TEST PUBLISH QoS 1",
        "props": [{"p": "payload"}],
        "repeat": "",
        "once": false,
        "payload": "{\"test\":\"qos1\",\"qos\":1}",
        "payloadType": "json",
        "x": 140, "y": 310,
        "wires": [["mqtt-pub-qos1"]]
    },
    {
        "id": "mqtt-pub-qos1",
        "type": "mqtt out",
        "z": "tab-debug",
        "name": "PUB QoS 1 → home/wokwi/test/qos",
        "topic": "home/wokwi/test/qos",
        "qos": "1",
        "retain": "false",
        "broker": "broker-emqx",
        "x": 420, "y": 310,
        "wires": []
    },
    {
        "id": "inject-qos2",
        "type": "inject",
        "z": "tab-debug",
        "name": "TEST PUBLISH QoS 2",
        "props": [{"p": "payload"}],
        "repeat": "",
        "once": false,
        "payload": "{\"test\":\"qos2\",\"qos\":2}",
        "payloadType": "json",
        "x": 140, "y": 360,
        "wires": [["mqtt-pub-qos2"]]
    },
    {
        "id": "mqtt-pub-qos2",
        "type": "mqtt out",
        "z": "tab-debug",
        "name": "PUB QoS 2 → home/wokwi/test/qos",
        "topic": "home/wokwi/test/qos",
        "qos": "2",
        "retain": "false",
        "broker": "broker-emqx",
        "x": 420, "y": 360,
        "wires": []
    },
    {
        "id": "mqtt-in-qos-test",
        "type": "mqtt in",
        "z": "tab-debug",
        "name": "SUBSCRIBE — home/wokwi/test/qos",
        "topic": "home/wokwi/test/qos",
        "qos": "0",
        "datatype": "json",
        "broker": "broker-emqx",
        "x": 150, "y": 440,
        "wires": [["debug-qos-result"]]
    },
    {
        "id": "debug-qos-result",
        "type": "debug",
        "z": "tab-debug",
        "name": "Résultat QoS reçu",
        "active": true,
        "tosidebar": true,
        "complete": true,
        "x": 440, "y": 440,
        "wires": []
    },

    { "id": "ui-tab-main",    "type": "ui_tab", "name": "📡 Monitoring", "icon": "home",    "order": 1 },
    { "id": "ui-tab-auto",    "type": "ui_tab", "name": "⚙ Automation",  "icon": "settings","order": 2 },
    { "id": "ui-tab-debug",   "type": "ui_tab", "name": "🔍 Debug",      "icon": "bug_report","order": 3 },

    { "id": "group-sensors",    "type": "ui_group", "name": "📡 Capteurs DHT22",          "tab": "ui-tab-main", "order": 1, "disp": true, "width": "6" },
    { "id": "group-relay",      "type": "ui_group", "name": "⚡ Commande Relais ×2",       "tab": "ui-tab-main", "order": 2, "disp": true, "width": "6" },
    { "id": "group-history",    "type": "ui_group", "name": "📊 Historique",               "tab": "ui-tab-main", "order": 3, "disp": true, "width": "12" },
    { "id": "group-automation", "type": "ui_group", "name": "⚙ Journal Automation",        "tab": "ui-tab-auto", "order": 1, "disp": true, "width": "12" },
    { "id": "group-debug",      "type": "ui_group", "name": "🔍 Flux MQTT en direct",      "tab": "ui-tab-debug","order": 1, "disp": true, "width": "12" }
]
